<div class="dashboard-top-menu-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="_isCollapsed = !_isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler" [collapse]="_isCollapsed">
      <span class="navbar-brand">{{ title }}</span>
      <div *ngIf="csv" class="item">
        <label for="csv-file" class="btn btn-outline-primary my-2 my-sm-0">
          Load CSV data
          <input type="file" id="csv-file" name="csv-file" style="display: none" (change)="_handleLoadCsv($event)" #csvFileInput>
        </label>
      </div>
    </div>
  </nav>
</div>
