#no real values just a template
#auth.mode = ldap
auth.ldap.url = ldap://authurl
auth.ldap.baseCtxDN = ou=Accounts,dc=company,dc=domain
auth.ldap.rolesCtxDN = ou=Accounts,dc=company,dc=domain
auth.ldap.user = theuser
auth.ldap.credentials = yyyyyyy
role.ldap.user = uid=eigenentwicklungen_lesend,ou=Eigenentwicklungen,ou=Special Users,dc=company,dc=domain
role.ldap.credentials = xxxxxxx
role.ldap.url = ldap://roleurl:389
role.ldap.baseCtxDN = ou=People,dc=company,dc=domain
role.ldap.rolesCtxDN = ou=Rollen,ou=Test,ou=Application,ou=Eigenentwicklungen,ou=Anwendungen,dc=company,dc=domain
#to map the persions from the ldap to internal roles. for karaf admin and view are necessary
role.mappings = poetStatus=admin,poetView=viewer
role.userAttributes = sn,givenName,mail,cn,initials,employeeNumber,uid
