/**
 * Dac Services
 * Dac Service REST API
 *
 * OpenAPI spec version: 1.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package de.hf.dac.myfinance.client.api;

import com.sun.jersey.api.client.GenericType;

import io.swagger.client.ApiException;
import io.swagger.client.ApiClient;
import io.swagger.client.Configuration;
import de.hf.dac.myfinance.client.model.*;
import io.swagger.client.Pair;

import de.hf.dac.myfinance.client.model.JobInformation;
import de.hf.dac.myfinance.client.model.BaseMFRunnerParameter;


import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "class de.hf.dac.myfinance.codegen.MyFinanceClient_JavaGenerator", date = "2018-05-03T09:44:46.536+02:00")
public class MyFinanceRunnerApi {
  private ApiClient apiClient;

  public MyFinanceRunnerApi() {
    this(Configuration.getDefaultApiClient());
  }

  public MyFinanceRunnerApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * list known cops jobs
   * List all JobInformation
   * @return List<Object>
   * @throws ApiException if fails to make API call
   */
  public List<Object> list() throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/Runner/list".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    GenericType<List<Object>> localVarReturnType = new GenericType<List<Object>>() {};
    return apiClient.invokeAPI(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * execute myfinance launcher
   * Execute myfinance Core Launcher
   * @param env The env (required)
   * @param jobtype launching md jobs z.b. de.hf.dac.myfinance.importer.Import (required)
   * @param params Parameter (optional)
   * @return JobInformation
   * @throws ApiException if fails to make API call
   */
  public JobInformation start(String env, String jobtype, BaseMFRunnerParameter params) throws ApiException {
    Object localVarPostBody = params;
    
    // verify the required parameter 'env' is set
    if (env == null) {
      throw new ApiException(400, "Missing the required parameter 'env' when calling start");
    }
    
    // verify the required parameter 'jobtype' is set
    if (jobtype == null) {
      throw new ApiException(400, "Missing the required parameter 'jobtype' when calling start");
    }
    
    // create path and map variables
    String localVarPath = "/Runner/{jobtype}/{env}/start".replaceAll("\\{format\\}","json")
      .replaceAll("\\{" + "env" + "\\}", apiClient.escapeString(env.toString()))
      .replaceAll("\\{" + "jobtype" + "\\}", apiClient.escapeString(jobtype.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    GenericType<JobInformation> localVarReturnType = new GenericType<JobInformation>() {};
    return apiClient.invokeAPI(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * get status of cops jobs
   * JobInformation of actual Job
   * @param uuid uuid of job (required)
   * @return JobInformation
   * @throws ApiException if fails to make API call
   */
  public JobInformation status(String uuid) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'uuid' is set
    if (uuid == null) {
      throw new ApiException(400, "Missing the required parameter 'uuid' when calling status");
    }
    
    // create path and map variables
    String localVarPath = "/Runner/status/{uuid}".replaceAll("\\{format\\}","json")
      .replaceAll("\\{" + "uuid" + "\\}", apiClient.escapeString(uuid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    GenericType<JobInformation> localVarReturnType = new GenericType<JobInformation>() {};
    return apiClient.invokeAPI(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
}
