// General
html, body {
  height: 100%;
}

// dc.js
.dc-chart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;

  .dc-select-menu {
    height: 100%;
    width: 100%;
  }
}

// Bootstrap
.btn {
  border-radius: 0;
}

// Toastr
#toast-container {
  .toast, .toast:hover {
    border-radius: 0;
    box-shadow: none;
  }

  .toast-success {
    background-color: $success;
  }
  .toast-error, .toast-error-wo-icon {
    background-color: $danger;
  }
  .toast-info {
    background-color: $info;
  }
  .toast-warning {
    background-color: $warning;
  }
}
