// Variables
$bootstrap-path: '../node_modules/bootstrap/scss/bootstrap.scss';
$fa-font-path : '../node_modules/font-awesome/fonts';

$gray-700: #707172;
$orange-100: #f08200;

// Bootstrap Variables
$primary: $orange-100;



$border-color: rgba(34,36,38,.15);

$dimmer-color: white;
$dimmer-background-color: rgba(0, 0, 0, 0.60);

$active-tab-background-color: rgba(0, 0, 0, 0.87);
$active-tab-color: white;

$dashboard-grid-card-background-color: white;
