<div class="generic-dashboard-wrapper">
  <app-dashboard-top-menu
    [title]="_config.title"
    [csv]="_config.menu.csv"
    [service]="_config.menu.service"
    [filters]="_config.menu.filters"
    (loading)="handleLoading($event)"
    (dataLoaded)="handleDataLoaded($event)">
  </app-dashboard-top-menu>
  <div class="grid">
    <app-dimmer [isDimmed]="_loading">
      <div class="loader-wrapper">
        <div class="loader text-primary"><i class="fa fa-spinner fa-spin"></i>Loading</div>
      </div>
    </app-dimmer>
    <app-dimmer [isDimmed]="_preparing">
      <div class="loader-wrapper">
        <div class="loader text-primary"><i class="fa fa-spinner fa-spin"></i>Preparing dashboard</div>
      </div>
    </app-dimmer>
    <app-dashboard-grid
      *ngIf="_dataLoaded; else dataNotLoaded"
      [config]="_config">
    </app-dashboard-grid>
    <ng-template #dataNotLoaded>
      <div class="no-data-loaded-wrapper">
        <div class="no-data-loaded">
          No data loaded...
        </div>
      </div>
    </ng-template>
  </div>
</div>
