<form class="mytext" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <p>InstrumentType:</p>
    <select class="btn btn-primary dropdown-toggle" ngModel name="instrumentType" required [(ngModel)]="instrumentType">
      <option class="mydropdown-item" [ngValue]="instrumentType" *ngFor="let instrumentType of instrumentTypes" >
        {{instrumentType}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Beschreibung:</label>
    <input class="form-control" ngModel name="desc" required/>
  </div>
  <button class="btn btn-primary" type="submit">Speichern</button>
</form>
