<div class="col-xs-12 col-12 col-md-5 col-lg-5 form-group" >
  <div class="form-group">
    <b>Betrachtungszeit:</b>
    <input type="text"
         placeholder="Daterangepicker"
         class="form-control"
         bsDaterangepicker [(ngModel)]="daterange" (bsValueChange)="onValueChange($event)" [bsConfig]="bsConfig" placement="right bottom" style="width: 210px;"/>
  </div>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">Instrument <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li *ngFor="let choice of items">
        {{choice}}
      </li>
    </ul>
  </div>
</div>
