<div class="top-navigation-wrapper">
  <div class="ui inverted top menu">
    <a routerLink="/home" class="item"><img src="assets/images/logo.png" height="20"><span class="title">MyFinance</span></a>

    <div class="ui pointing dropdown link item" suiDropdown>
      <span class="text">Dashboards</span>
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <a class="item" routerLink="/dashboards/instrument-overview">Instrument Overview</a>
        <a class="item">no other dashboard</a>
      </div>
    </div>

    <div class="ui pointing dropdown link item" suiDropdown>
      <span class="text">Beispiele</span>
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <a class="item" routerLink="/instrument-search">Instrument Search</a>
        <div class="divider"></div>
        <div class="header">Müll</div>
        <a class="item" routerLink="/charts">Charts</a>
        <a class="item" routerLink="/grid">Grid</a>
      </div>
    </div>

    <a routerLink="/home" class="item">Home</a>

  </div>
</div>
