:host {
  z-index: 2000;
  display: flex;
  flex-flow: column;
}

.top-navigation-wrapper {
  .title {
    margin-left: 10px;
    font-weight: bold;
    vertical-align: middle;
    border-style: none;
  }
}
